
.news {
    /* border: 1px solid gray; */
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.news-item {
    /* border: 1px solid firebrick; */
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    
}

.news-item:first-child {
   display: grid;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 6;
   position: relative;
}

.news-item img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}
.news-item:first-child img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.news-item:first-child h3 {
    position: absolute;
    top: 332px;
    left: 54px;
    color: #ffff;
    

}

