
 /* top-nav section start */
#top-nav {
padding: 50px 0px;
}
.nav-brand {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-brand span {
    margin: 0px 10px;
    padding: 5px;
    color: #554D89;
    font-family: 'Nunito', sans-serif;
    font-size: 700;
    font-weight: 600;

}

.nav-brand img {
    width: 40px;
    height: 40px;
}
.nav {
    height: 100%;
    
}

.nav ul {
    display: flex;
    justify-content: center;
    height: 100%;
}
.nav ul li{ 
    list-style-type: none;

}
.nav ul li a {
    padding: 0px 25px;
    text-decoration: none;
    color: #5B5766;
    font-family: 'Nunito', sans-serif;

}
.search {
    color: black;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* top-nav section end */

/* Slider section start */
.slide {
    padding: 200px 0px;
    background-image: url(../img/group-of-architects-and-business-people-working-ZLA57WU-scaled.jpg);
    background-size: cover;
    background-position: center;
}

.slide-content {
    max-width: 400px;
    padding-left: 250px;
}


.slide-heading h1 {
    font-size: 3em;
    font-size: 700;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.slide-description p {
    margin: 10px 0px;
    color: white;
    padding: 10px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    
}
.slide-button button {
    padding: 8px 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
/* slider section end */

/* service section start */

.item {
    /* padding: 20px; */
    height: 240px;
    width: 380px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    margin: 30px
        
}
 
.service-item-icon {
    font-size: 1.5em;
    margin: 20px;
    color: #6852ed;

}
.service-item-icon i {
    font-size: 1.5em;
}

.service-item-header {
    margin: 20px;
    
}

.service-item-header h5 {
    font-size: 1.5em;
    font-size: 600;
}
.service-item-content {
    margin: 20px;
}

.service-content {
    padding-left: 70px;

}

.service-header {
    margin: 30px 0px;
    font-size: 2.5em;
}
.service-description {
    margin: 30px 0px
}
.service-button {
    padding: 10px;    
    border: 1px solid #BA43FC;
    border-radius: 20px;    
    width: 50%;
    text-align: center;
    background: #6852ed;
    border-style: solid;
            
}
.service-button button {
    color: white;
    font-size: 1em;

}
/* service section end */

/* company-info section start */

.more-info {
    height: 600px;
    background-image: url(../img/beautiful-female-architect-working-on-plan-SGVWT4U.jpg);
    background-size: cover;
    background-position: center;

}
.info-icon {
    color: #6852ed;
    padding-top: 35px;
    margin: 30px 0px;
    font-size: 5em;
    
}
.info-header {
    margin: 30px 0px;
    font-size: 2.3em;
    font-weight: 510;
}
.info-content {
    margin: 30px 0px;
}

.info-box-number {
    color:  #BA43FC;
    margin: 30px 0px;
    font-size: 4em;
    font-size: 400;
}
.info-box-header {
    margin: 15px 0px;
    font-size: 1.5em;
}
.info-box-content p {
    font-size: 1em;
}
.item-box {
    border: 1px solid gray;
    margin: 0px 10px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    text-align: center;
    height: 300px;
    margin-top: 120px;
    background: white;

}
/* company info section end */

/*solution section start*/

#solution {
    margin-top: 320px;
}
.s-image {
    margin: 0px 40px;
}
.solution-description {
    padding: 40px 0px;
}
.solution-header {
    font-size: 2.3em;
    font-weight: 550;
}
.s-image img {
    width: 40rem;
    height: 30rem;
    border-radius: 20rem 20rem 5rem 20rem;

}

.solution-button { 
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    ;

}
.solution-button-1 button{
    border: 1px solid #BA43FC;
    background: #BA43FC;
    color: #FFFF;
    border-radius: 20px;
    font-size: 1em;
    padding: 10px 40px;
    /* width: 100%; */
    font-family: 'Poppins', sans-serif;
    

}
.solution-button-2 button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-left: 20px;
    color:  #554D89;
} 

.solution-button-2 i {
    padding-left: 10px;
    color:  #554D89;
}
/* solution section end */
#financial {
    margin-top: 180px;
}
.financial-description {
    padding: 40px 0px;
}
.financial-header {
    font-size: 2.3em;
    font-weight: 550;
    
}

.financial-content {
    padding-left: 70px;
}

.f-image {
    margin: 0px 40px;
}
.f-image img {
    width: 40rem;
    height: 30rem;
    border-radius: 20rem 20rem 20rem 5rem;

}
.financial-button { 
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    ;

}
.financial-button-1 button{
    border: 1px solid #BA43FC;
    background: #BA43FC;
    color: #FFFF;
    border-radius: 20px;
    font-size: 1em;
    padding: 10px 40px;
    /* width: 100%; */
    font-family: 'Poppins', sans-serif;
    

}
.financial-button-2 button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-left: 20px;
    color:  #554D89;
} 

.financial-button-2 i {
    padding-left: 10px;
    color:  #554D89;
}
    /* financial section end */
