.product {
    position: relative;
    height: 450px;
    border: 3px solid lightgray;
    overflow: hidden;
    margin-bottom: 20px;
}

.product:hover .social {
    margin-right: 0px;
}

.photo,
.info,
.social {
    position: absolute;
}

.photos {
    height: 350px;
    width: 100%;
    position: relative;
}

.photos img:nth-child(1) {
    opacity: 1;
    z-index: 1
}

.photos img:nth-child(2) {
    opacity: 0;
    z-index: 2;
}

.photos:hover img:nth-child(1) {
    opacity: 0;
    z-index: 1
}

.photos:hover img:nth-child(2) {
    opacity: 1;
    z-index: 2
}

.photos img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .3s ease;
}

.info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.stars {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: .8em;
    letter-spacing: 5px;
    color: lightgray;
}

.stars i:nth-child(n+4) {
    color: orange;
}

.social {
    right: 17px;
    top: 134px;
    display: flex;
    flex-direction: column;
    margin-right: -40px;
    transition: all .3s ease;
    z-index: 4
}

.social>span {
    margin: 22px;
}

.social i:after {
    content: 'Wishlist',
}

.social-item {
    position: relative
}

.social-item span {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .8);
    color: white;
    opacity: 0;
    transition: all .3s ease;
}

.social-item span:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 11px;
    right: -10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, .8);
    border-right: 5px solid transparent;
}

.social-item i {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background: green;
    color: white;
}

.social-item:hover span {
    opacity: 1;
}