
.menu-bar a {
    text-decoration: none;
    color:black;
}

.menu-bar{
    background: rgb(100, 187, 237);
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    
}
.menu-bar ul li {
    width: 120px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a {
    
    color: #fff;
    font-family: sans-serif;
}
.menu-bar ul li a i{
    margin-left: 5px;
}
.active, .menu-bar ul li:hover{
    background: rgb(175, 214, 236);
    border-radius: 3px;
}
.sub-menu-1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(100, 187, 237);
    top: 48px;
    left: 285px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.sub-menu-1 ul li a {
    display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(68, 211, 211);
}

.sub-menu-2 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background: rgb(100, 187, 237);
    top: 48px;
    left: 450px;
}

.menu-bar ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 10px;
}

.sub-menu-2 ul li a {
    display: block;
}
.menu-bar ul li:hover .sub-menu-2 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-2 ul li:last-child {
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover{
    color: rgb(68, 211, 211);
}
.sub-menu-3 {
    display: none;
}
.hover-me:hover .sub-menu-3 {
    position:absolute;
    display: block;
    margin-top:-30px;
    margin-left: 170px;
    background: rgb(100, 187, 237);
}
