/* bu layihenin ehtiyac duydugu diger css stilleri */

 /* Section hissesi basladi */
#service {
    padding: 40px 0;
    
}
.service-heading {
text-align: center;
}
.service-heading h5 {
    margin: 0px;
}
.service-heading h1{
    margin: 5px;
    font-size: 35px;

}
.service-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;

}
.service-action {
text-align: center;
margin: 10px 0px;
}
.service-action button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background: #2c7ae7;
}
/* Section hissesi bitdi */

/* testimonials hissesi basladi */
#testimonials {
    padding: 40px 0;
    
}
.testimonials-heading {
text-align: center;
}
.testimonials-heading h5 {
    margin: 0px;
}
.testimonials-heading h1{
    margin: 5px;
    font-size: 35px;

}
.testimonials-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;

}
.testimonials-action {
text-align: center;
margin: 10px 0px;
}
.testimonials-action button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background: #2c7ae7;